<div class="panel panel-default">
  <div class="panel-body">
    <button class="btn btn-primary" routerLink="/produto">Adicionar</button>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de produtos</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="card-produto-lista">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Nome
              </th>
              <th>
                Valor
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produto of produtoLista">
              <td>
                {{produto.name}}
              </td>
              <td>
                R$ {{produto.price}}
              </td>
            </tr>
            </tbody>
          </table>
          <kz-paginacao 
          [qtdPorPagina]="registroCarregado" 
          [totalRegistros]="quatidadeRegistro"
          [qtdAdjacentes]="3"
          (onPaginate)="paginar($event)">
        </kz-paginacao>
        </div>
      </div>
    </form>
  </div>
</div>
