<div class="panel panel-default">
  <div class="panel-body">
    <button class="btn btn-primary" routerLink="/produto/0">Adicionar</button>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de produtos</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert" *ngIf="quantidadeRegistro == 0">
                <label>Não tem produtos cadastrados</label>
              </div>
          </div>          
        <div class="card-produto-lista" *ngIf="quantidadeRegistro != 0">
          <div class="col-md-12">
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Nome
                    </th>
                    <th>
                      Valor
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let produto of produtoLista">
                    <td routerLink="/produto/{{produto.id}}">
                      {{produto.name}}
                    </td>
                    <td routerLink="/produto/{{produto.id}}">
                     {{produto.price | currency:'BRL':'symbol-narrow':'4.2-2'}}
                    </td>
                    <td>
                      <button class="btn btn-default" (click)="removerProduto(produto.id)"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
          </div>        
          <kz-paginacao 
          [qtdPorPagina]="registroCarregado" 
          [totalRegistros]="quantidadeRegistro"
          [qtdAdjacentes]="3"
          (onPaginate)="paginar($event)">
        </kz-paginacao>
        </div>
      </div>
    </form>
  </div>
</div>
