<div class="panel panel-default">
  <div class="panel-body">
    <button class="btn btn-primary" routerLink="/usuario/0">Adicionar</button>    
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de usuário</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="card-produto-lista">
          <div class="col-md-12">
              <div class="alert alert-info" role="alert" *ngIf="quantidadeRegistro == 0">
                  <label>Não tem produtos cadastrados</label>
                </div>
          </div>      
          <div class="col-md-12" *ngIf="quantidadeRegistro != 0">
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Nome
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Tipo usuário
                    </th>
                  </tr>
                  </thead>
                  <tbody>              
                        <tr *ngFor="let usuario of usuarioLista; let i = index">              
                          <td routerLink="/usuario/{{usuario.id}}">
                            {{usuario.name}}
                          </td>
                          <td routerLink="/usuario/{{usuario.id}}">
                            {{usuario.email}}
                          </td>
                          <td routerLink="/usuario/{{usuario.id}}">
                            {{buscaTipoUsuario(usuario.type)}}
                          </td>
                          <td>
                            <button class="btn btn-default" (click)="removerUsuario(usuario.id)"><i class="glyphicon glyphicon-trash"></i></button>
                          </td>
                        </tr>              
                  </tbody>
                </table>
                <kz-paginacao 
                [qtdPorPagina]="registroCarregado" 
                [totalRegistros]="quantidadeRegistro"
                [qtdAdjacentes]="3"
                (onPaginate)="paginar($event)">
              </kz-paginacao>
            </div>              
        </div>
      </div>
    </form>
  </div>
</div>
